/* 404 */

.error-page {
  min-height: 100vh;
  background: url("https://c4.wallpaperflare.com/wallpaper/586/899/689/girl-photo-photoshop-art-girl-hd-wallpaper-preview.jpg") center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Like maket 

.error-code {
  font-size: 10rem;
  font-weight: 900;
  letter-spacing: 10px;
  margin-bottom: 2rem;

  background: url("games-bg.jpg") center/cover no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.error-page::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.85);
}

.error-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
}

.error-content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.error-content p {
  color: #666;
  margin-bottom: 2rem;
}

.error-code {
  font-size: 10rem;
  font-weight: 900;
  letter-spacing: 10px;
  margin-bottom: 2rem;
  color: #4fa3e3;
}

.btn {
  padding: 0.9rem 2rem;
  background: linear-gradient(90deg, #4fa3e3, #3a8fd6);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  transform: translateY(-3px);
}

@media (max-width: 768px) {
  .error-code {
    font-size: 6rem;
  }

  .error-content h1 {
    font-size: 1.5rem;
  }
}