/* Pagination */

.pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 3rem;
}

.pagination button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background: #eaeaea;
  cursor: pointer;
}

.pagination button.active {
  background: #4fa3e3;
  color: white;
}